<section class="banners outer">
  <div class="inner">
    <div class="banners-wrapper">
      <div class="banner-card">
        <a target="_blank" href="http://mon.gov.ua/" title="Міністерство освіти і науки України">
          <img src="/content/images/2015/12/moh-logo-footer.png"/>
        </a>
      </div>
      <div class="banner-card">
        <a
          target="_blank" href="http://nus.org.ua" title="Освіта в Україні та за кордоном"
          style="padding:30px 20px"
        >
          <img src="https://nus.org.ua/wp-content/uploads/2017/06/logo.png"/>
        </a>
      </div>
      <div class="banner-card">
        <a target="_blank" href="http://osvita.ua/" title="Освіта в Україні та за кордоном">
          <img src="/content/images/2016/03/OsvitaUA_logo_1607.png"/>
        </a>
      </div>
      <div class="banner-card">
        <a target="_blank" href="http://pedpresa.ua/" title="Освітній портал «Педагогічна преса»">
          <img src="/content/images/2015/12/header-logo.png"/>
        </a>
      </div>
      <div class="banner-card">
        <a
          target="_blank" href="https://www.schoollife.org.ua/" title="Освіта в Україні та за кордоном"
          style="padding:30px 20px"
        >
          <img src="https://www.schoollife.org.ua/wp-content/uploads/2015/08/logo4.png.pagespeed.ce.S2jeJswSBt.png"/>
        </a>
      </div>
      <div class="banner-card">
        <a target="_blank" href="http://testportal.gov.ua/" title="Український Центр Оцінювання Якості Освіти">
          <img src="/content/images/2015/12/logo_uc.png"/>
        </a>
      </div>
      <div class="banner-card">
        <a target="_blank" href="http://la-strada.org.ua" title="Національна гаряча лінія">
          <img src="/content/images/2017/02/La_strada_1_3.gif"/>
        </a>
      </div>
      <div class="banner-card">
        <a target="_blank" href="http://la-strada.org.ua" title="Національна дитяча гаряча лінія">
          <img src="/content/images/2017/02/La_strada_2_2.gif"/>
        </a>
      </div>
    </div>
  </div>
</section>

